<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1033924302442-sb2fi6lupc6stdju3e7eqqv8e309qpk2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1033924302442-sb2fi6lupc6stdju3e7eqqv8e309qpk2</string>
	<key>API_KEY</key>
	<string>AIzaSyDdfAVyQTvvKihGj99-23b8453e8juodnk</string>
	<key>GCM_SENDER_ID</key>
	<string>1033924302442</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gotcha.photobook</string>
	<key>PROJECT_ID</key>
	<string>chatbooks-gotcha</string>
	<key>STORAGE_BUCKET</key>
	<string>chatbooks-gotcha.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1033924302442:ios:356f526360b6b37b</string>
	<key>DATABASE_URL</key>
	<string>https://chatbooks-gotcha.firebaseio.com</string>
</dict>
</plist>